#сontrolPanel{
    position:absolute;
    bottom: 2%; 
    left: 2%;
    right: 2%;
}

.button{
    background: #545454;
    color: #d1cdcd;
    border: 3px solid #d1cdcd; 
    font-size: 12;
    border-radius: 6px;
}

#exit{
    color: #ee0909;
    border-color: #ee0909; 
}

body {
    background-color: #464646;
}

h1 {
    color: rgb(202, 201, 201);
    text-align: center;
}
#header-bar {
    background-color: rgb(136, 134, 136);
    border-radius: 5px;
}

.col{
    margin: 10%;
    text-align: left;
    background-color:rgba(128, 128, 128, 0.61);
    border-radius: 10px;
    border: 1px rgba(255, 255, 255, 0.671);
    color: rgba(255, 255, 255, 0.493);
    border-style:solid;
    padding: 2px;
    height:10%;
    width: 10px;
}

#health {
    background-color:red;
    border-radius: 10px;
    border: 1px black;
    border-style:solid;
    padding: 2px;
    color:black;
}
#coin {
    background-color:yellow;
    border-radius: 10px;
    border: 1px black;
    border-style:solid;
    padding: 2px;
    color:black;
}


#gameground {
    display: flex;
}

#gameground-center {
    flex: auto;
    width: 40%
}

.col {
    flex: auto;
}